@import "tailwindcss";

/* Custom utility for specific styles that are hard to do with just standard Tailwind utility classes */
@layer base {
  body {
    @apply font-sans;
  }
}

/* Hide scrollbar for clean horizontal scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
